h1{
    color: #363F4A; 
    font-size: 90px; 
    margin: 0; 
}

a {
    background-color: #687086;
    color: white; 
    text-transform: uppercase;
    width: 250px;
    font-size: 25px; 
    text-decoration: none; 
    line-height: 2em; 
    display: inline-block;
}